# Editor configuration, see http://editorconfig.org
# Se actualiza data al día de hoy 11 de junio del 2025, Santiago, Chile
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
